header{
    height:100px;
    width:100%;
    background:#333
}
.headerBox{
    background: #eee;
    height:50px;
    margin-top:25px;
}
.box1{
    width:200px;
    margin-left:50px;
    float:left;
    /* border:1px red solid; */
}

.box2{
    width:400px;
    margin-right:50px;
    float:right;
    /* border:1px red solid; */
}